<!DOCTYPE html>
<html>
    {% load static %}
<head>
<title>{% block title %}Library{% endblock %}</title>
<link rel="stylesheet" href="{% static css/styles.css' %}">
</head>
<body>
<div class="topnav">
<a href="{% url 'books.index' %}">Home</a>
<a href="{% url 'books.list_books' %}">Books</a>
<a href="{% url 'books.aboutus' %}">About</a>
<a href="{% url 'books.links' %}">Links</a>
<a href="{% url 'books.search' %}">Search book</a>
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html> 